body {
    background-color: #F3F3F3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

span {
    color: black;
    font-size: medium;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    row-gap: 10px;
    max-width: 600px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
}