body {
    background-color: #F3F3F3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

span {
    color: black;
    font-size: medium;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    text-align: center;
}

.row-1 {
    background-color: #D9D9D9;
    color: black;
    height: 66px;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.row-4 {
    margin-top: 120px;
}

.row-5 {
    margin-top: 20px;
}

.btn-primary, .btn-secondary{
    width: 200px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    row-gap: 10px;
    max-width: 600px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
}
