* {
    margin: 0px;
    padding: 0px;
}

body {
    margin-left: 20px;
    background-color: #F3F3F3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
}

.judul {
    padding-left: 30px;
}

main {
    width: 326px;
    height: 500px;
    left: 25px;
    top: 79px;
    overflow-y: scroll;
}